body {
  min-width: 1230px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slide .button, .purchase .button, .latest-projects .button {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  padding: 15px 38px;
  padding-bottom: 12px;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #998675;
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  border-bottom: 3px solid #736357;
  border-radius: 3px;
  -webkit-transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

.slide .button:hover, .slide .button:focus, .purchase .button:hover, .purchase .button:focus, .latest-projects .button:hover, .latest-projects .button:focus {
  color: #333333;
  background-color: #ededed;
  border-color: #696969;
}

.slide .button:active, .purchase .button:active, .latest-projects .button:active {
  background-color: rgba(248, 247, 244, 0.988);
  border-color: #696969;
}

.header-wrapper {
  width: 100%;
  background-color: #555556;
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  min-height: 1024px;
  margin: 0 auto;
}

.header-wrapper::before, .site-wrapper::after {
  content: "";
  visibility: hidden;
}

.header-wrapper::before {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.header-wrapper::after {
  background-image: url("../img/slider-3.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 95px;
}

.main-header-logo {
  position: relative;
  display: block;
  color: #ffffff;
  margin-top: 40px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.logo-text {
  display: inline-block;
  vertical-align: top;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  font-size: 34px;
  margin-left: 2px;
  margin-top: 10px;
}

.main-header-logo img {
  width: 64px;
  height: 56px;
}

.main-header-logo::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 56px;
  top: 0px;
  left: 0px;
  background: url(../img/logo-hover.svg) 0 0 no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.main-header-logo:hover::before, .main-header-logo:focus::before, .main-header-logo:active::before {
  opacity: 1;
}

.main-header-logo:hover, .main-header-logo:focus, .main-header-logo:active {
  color: #c7b299;
}

.site-navigation {
  width: 636px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  margin-left: auto;
  margin-right: 60px;
}

.site-navigation-item a {
  display: block;
  color: #ffffff;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.site-navigation-item a:hover, .site-navigation-item a:focus, .site-navigation-item a:active {
  color: #c7b299;
}

.user-navigation {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 55px;
}

.user-navigation a {
  display: block;
}

.cart-link svg {
  width: 18px;
  height: 24px;
}

.search-link svg {
  width: 24px;
  height: 24px;
}

.cart-link path, .search-link path {
  fill: #ffffff;
  -webkit-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  transition: fill 0.5s;
}

.cart-link:hover path, .cart-link:focus path, .cart-link:active path, .search-link:hover path, .search-link:focus path, .search-link:active path {
  fill: #c7b299;
}

.slider {
  position: relative;
  text-align: center;
}

.slides-switches {
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 275px;
}

.slide h1 {
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
}

.slide .first-header {
  width: 461px;
  font-size: 36px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 3px;
}

.slide .second-header {
  width: 592px;
  font-size: 52px;
  font-weight: 800;
  margin: 0 auto;
  margin-bottom: 15px;
}

.slide p {
  width: 568px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.slide {
  display: none;
}

.slider-controls {
  font-size: 0;
  position: absolute;
  top: 870px;
  left: 50%;
  margin-left: -53px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  background: url(../img/radio-off.svg) 1.8px 2px no-repeat;
  cursor: pointer;
}

.slider-controls label:last-child {
  margin-right: 0px;
}

.slider-controls label:hover, .slider-controls label:focus, .slider-controls label:active {
  background: url(../img/radio-on.svg) 0 0 no-repeat;
}

.side-controls label {
  position: absolute;
  display: inline-block;
  font-size: 0;
  width: 40px;
  height: 73px;
  top: 380px;
  opacity: 0.5;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.side-controls label:hover, .side-controls label:focus, .side-controls label:active {
  opacity: 1;
}

#slide-1:checked~.header-wrapper .side[for="slide-5"], #slide-2:checked~.header-wrapper .side[for="slide-1"], #slide-3:checked~.header-wrapper .side[for="slide-2"], #slide-4:checked~.header-wrapper .side[for="slide-3"], #slide-5:checked~.header-wrapper .side[for="slide-4"] {
  background: url(../img/left.svg) 0 0 no-repeat;
  cursor: pointer;
  left: 55px;
}

#slide-1:checked~.header-wrapper .side[for="slide-2"], #slide-2:checked~.header-wrapper .side[for="slide-3"], #slide-3:checked~.header-wrapper .side[for="slide-4"], #slide-4:checked~.header-wrapper .side[for="slide-5"], #slide-5:checked~.header-wrapper .side[for="slide-1"] {
  background: url(../img/right.svg) 0 0 no-repeat;
  cursor: pointer;
  right: 55px;
}

#slide-1:checked~.header-wrapper {
  background-image: url(../img/slider-1.jpg);
}

#slide-2:checked~.header-wrapper {
  background-image: url(../img/slider-2.jpg);
}

#slide-3:checked~.header-wrapper {
  background-image: url(../img/slider-3.jpg);
}

#slide-4:checked~.header-wrapper {
  background-image: url(../img/slider-4.jpg);
}

#slide-5:checked~.header-wrapper {
  background-image: url(../img/slider-5.jpg);
}

#slide-1:checked~.header-wrapper #slide1, #slide-2:checked~.header-wrapper #slide2, #slide-3:checked~.header-wrapper #slide3, #slide-4:checked~.header-wrapper #slide4, #slide-5:checked~.header-wrapper #slide5 {
  display: block;
}

#slide-1:checked~.header-wrapper .radio[for="slide-1"], #slide-2:checked~.header-wrapper .radio[for="slide-2"], #slide-3:checked~.header-wrapper .radio[for="slide-3"], #slide-4:checked~.header-wrapper .radio[for="slide-4"], #slide-5:checked~.header-wrapper .radio[for="slide-5"] {
  background: url(../img/radio-on.svg) 0 0 no-repeat;
}

.services {
  margin-top: 80px;
  margin-bottom: 160px;
}

.services-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-bottom: 33px;
  cursor: pointer;
}

.service-item-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #555555;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 15px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.service-item:hover .service-item-title {
  color: #c7b299;
}

.service-item path {
  fill: #555;
  -webkit-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  transition: fill 0.5s;
}

.service-item:hover path {
  fill: #c7b299;
}

.service-item-info {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.service-item-info::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  right: 100px;
  bottom: -28px;
  background-color: #f1eee9;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.service-item:hover .service-item-info::after {
  background-color: #c7b299;
}

.service-item svg {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 50px;
  height: 50px;
}

.partner-logo-item a {
  display: block;
  width: 210px;
}

.about-products .container {
  width: 1230px;
  padding: 0;
  margin: 0 auto;
}

.about-products-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}

.about-products-info {
  width: 720px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 33px;
}

.about-products-image {
  width: 1230px;
  height: 482px;
  margin: 0;
}

.about-products-image img {
  width: 1230px;
  height: 482px;
}

.purchase {
  width: 100%;
  margin-bottom: 75px;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.purchase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 150px;
}

.purchase-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #c7b299;
  margin: 0;
  margin-bottom: 5px;
}

.purchase-title-white {
  color: #ffffff;
}

.purchase-info {
  font-size: 18px;
  color: #615855;
  margin: 0;
}

.purchase .button {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: auto;
  padding-left: 27px;
  padding-right: 27px;
}

.latest-projects {
  text-align: center;
  margin-bottom: 80px;
}

.latest-projects-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  margin: 0;
  margin-bottom: 18px;
}

.latest-projects-info {
  width: 720px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.latest-projects-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.filter-button {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 20px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  background-color: rgba(17, 17, 17, 0);
  -webkit-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}

.latest-project-filter:last-child .filter-button {
  margin-right: 0;
}

.filter-button-current {
  color: #ffffff;
  background-color: #998675;
  cursor: default;
}

.filter-button:not(.filter-button-current):hover, .filter-button:not(.filter-button-current):focus, .filter-button:not(.filter-button-current):active {
  color: #ffffff;
  background-color: #998675;
}

.latest-projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.latest-project-item {
  width: 370px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
}

.latest-project-item:nth-child(3n) {
  margin-right: 0;
}

.latest-project-text {
  position: relative;
  text-align: left;
  padding: 25px 28px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.latest-project-item:hover .latest-project-text {
  background-color: #362f2d;
}

.latest-project-text::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 20px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 11px solid #fff;
  -webkit-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
  z-index: 2;
}

.latest-project-item:hover .latest-project-text::before {
  border-bottom-color: #362f2d;
}

.latest-project-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  margin: 0;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.latest-project-item:hover .latest-project-title {
  color: #ffffff;
}

.latest-project-info {
  color: #d1d1d1;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.latest-project-item:hover .latest-project-info {
  color: #c7b299;
}

.latest-project-image {
  position: relative;
  width: 370px;
  height: 237px;
  margin: 0;
  background-color: #555556;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  overflow: hidden;
}

.latest-project-image::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 237px;
  left: 0px;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  z-index: 1;
}

.latest-project-item:hover .latest-project-image::before {
  opacity: 1;
}

.latest-project-image img {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.latest-project-item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.details {
  position: absolute;
  left: 144px;
  top: 106px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 2;
}

.latest-project-item:hover .details {
  opacity: 1;
}

.link-button {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 26px;
  margin-right: 28px;
}

.link-button path {
  fill: #fff;
  -webkit-transition: fill 0.5s ease-out;
  -o-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}

.link-button:hover path, .link-button:focus path, .link-button:active path {
  fill: #c7b299;
}

.spread-button {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.spread-button path {
  fill: #fff;
  -webkit-transition: fill 0.5s ease-out;
  -o-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}

.spread-button:hover path, .spread-button:focus path, .spread-button:active path {
  fill: #c7b299;
}

.latest-projects .button {
  margin-top: 10px;
  padding-left: 45px;
  padding-right: 45px;
}

.video-presentation {
  width: 100%;
  min-height: 705px;
  background-image: url("../img/video-preview.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #555556;
}

.video-presentation .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-top: 225px;
}

.video-presentation-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px;
}

.video-presentation-info {
  width: 570px;
  line-height: 28px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 25px;
}

.video-time {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.video-presentation .button {
  position: relative;
  display: block;
  margin-bottom: 50px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.video-presentation path {
  fill: #fff;
  -webkit-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  transition: fill 0.5s;
}

.video-presentation .button:hover path, .video-presentation .button:focus path, .video-presentation .button:active path {
  fill: #c7b299;
}

.video-presentation .button::before {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  left: -15px;
  top: -15px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.mobile-adaptive .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-adaptive-image {
  width: 423px;
  height: 616px;
  margin: 0;
  margin-left: 47px;
  margin-right: 30px;
  margin-top: 80px;
}

.mobile-adaptive-image img {
  width: 423px;
  height: 616px;
}

.column-right {
  margin-top: 190px;
}

.mobile-adaptive-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  margin: 0;
  margin-bottom: 25px;
}

.mobile-adaptive-info {
  width: 671px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 35px;
}

.mobile-adaptive-features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-adaptive-feature {
  position: relative;
  margin-bottom: 15px;
  padding-left: 100px;
}

.mobile-adaptive-feature:last-child {
  margin-bottom: 0px;
}

.mobile-adaptive-feature::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 50px;
  top: -1px;
  background: url(../img/04.png) 0 0 no-repeat;
}

.counters {
  width: 100%;
  min-height: 300px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.counters-list {
  width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 70px;
  text-align: center;
}

.counter-item {
  position: relative;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter-item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  left: 70px;
  top: 170px;
  background-color: #fff;
}

.counter-number {
  display: inline-block;
  font-family: "Montserrat-UltraLight";
  font-size: 48px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 15px;
}

.counter-name {
  font-size: 14px;
  line-height: 20px;
  color: #c7b299;
  text-transform: uppercase;
}

.recent-posts {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.counter-item svg {
  margin-bottom: 30px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.recent-posts-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  margin: 0;
  margin-bottom: 18px;
}

.recent-posts-info {
  width: 770px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.recent-posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.recent-post-item {
  position: relative;
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.recent-post-date {
  position: absolute;
  width: 50px;
  height: 60px;
  left: 20px;
  top: 20px;
  text-align: center;
  border-radius: 3px;
  z-index: 1;
}

.date-day {
  display: block;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  padding: 8px 10px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.date-month {
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  padding: 3px 13px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.recent-post-item:hover .date-day {
  background-color: #c7b299;
}

.recent-post-item:hover .date-month {
  background-color: #a48d72;
}

.recent-post-text {
  padding: 25px 28px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.recent-post-item:hover .recent-post-text {
  background-color: #362f2d;
}

.recent-post-item:nth-child(3n) {
  margin-right: 0px;
}

.carousel-controls {
  position: absolute;
  font-size: 0;
  z-index: 2;
  top: 187px;
  left: 134px;
}

.carousel-controls label {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  background: url(../img/carousel-off.svg) 1.8px 2px no-repeat;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel-controls label:hover, .carousel-controls label:focus, .carousel-controls label:active {
  background: url(../img/radio-on.svg) 0 0 no-repeat;
}

.carousel-radio:checked+label {
  background: url(../img/radio-on.svg) 0 0 no-repeat;
}

.recent-post-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  margin: 0;
  margin-bottom: 10px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.recent-post-item:hover .recent-post-title {
  color: #c7b299;
}

.recent-post-info {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 15px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.recent-post-text .link {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #c7b299;
  padding-right: 8px;
}

.recent-post-text .link:hover, .recent-post-text .link:focus, .recent-post-text .link:active {
  color: #d1d1d1;
}

.recent-post-text .link::after {
  position: absolute;
  content: "";
  background: url(../img/link-arrow.svg) top center no-repeat;
  width: 5px;
  height: 8px;
  left: 83px;
  top: 6px;
}

.recent-post-text .link:hover::after, .recent-post-text .link:focus::after, .recent-post-text .link:active::after {
  background-image: url(../img/footer-link-arrow.svg);
}

.recent-post-item:hover .recent-post-info {
  color: #ffffff;
}

.recent-post-image {
  position: relative;
  width: 370px;
  height: 220px;
  margin: 0;
  background-color: #555556;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  overflow: hidden;
}

.recent-post-image::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 220px;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  z-index: 1;
}

.recent-post-item:hover .recent-post-image::before {
  opacity: 1;
}

.recent-post-image img {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.recent-post-item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pagination-list {
  width: 52px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}

.pagination-item a {
  display: block;
  width: 22px;
  height: 22px;
  -webkit-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

.pagination-item .left-button {
  background: url(../img/pagination-left.png) 0 0 no-repeat;
}

.pagination-item .right-button {
  background: url(../img/pagination-right.png) 0 0 no-repeat;
}

.pagination-item .left-button:hover, .pagination-item .left-button:focus, .pagination-item .left-button:active {
  background: url(../img/pagination-right-hover.png) 0 0 no-repeat;
}

.pagination-item .right-button:hover, .pagination-item .right-button:focus, .pagination-item .right-button:active {
  background: url(../img/pagination-left-hover.png) 0 0 no-repeat;
}

.partners {
  width: 100%;
  min-height: 489px;
  background: url(../img/partners-wrapper.jpg) top center no-repeat;
  background-color: #555556;
}

.partners .container {
  padding-top: 140px;
}

.partners-logos-list {
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.partner-logo-item {
  width: 210px;
}

.partner-logo-item a {
  display: block;
}

.footer-info {
  width: 100%;
  padding-bottom: 80px;
  background-color: #191919;
}

.footer-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-waxom {
  width: 270px;
}

.footer-logo {
  position: relative;
  display: block;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #ffffff;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.footer-logo img {
  width: 64px;
  height: 56px;
}

.footer-logo::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 56px;
  top: 0px;
  left: 0px;
  background: url(../img/logo-hover.svg) 0 0 no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.footer-logo:hover::before, .footer-logo:focus::before, .footer-logo:active::before {
  opacity: 1;
}

.footer-logo:hover, .footer-logo:focus, .footer-logo:active {
  color: #c7b299;
}

.about-waxom-info {
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  margin: 0;
  margin-bottom: 20px;
}

.about-waxom .link {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
  padding-right: 8px;
}

.about-waxom .link:hover, .about-waxom .link:focus, .about-waxom .link:active {
  color: #c7b299;
}

.about-waxom .link::before {
  position: absolute;
  content: "";
  background: url(../img/footer-link-arrow.svg) top center no-repeat;
  width: 5px;
  height: 8px;
  left: 84px;
  top: 6px;
}

.about-waxom .link:hover::before, .about-waxom .link:focus::before, .about-waxom .link:active::before {
  background: url(../img/link-arrow.svg) top center no-repeat;
}

.footer-recent-posts-title, .our-twitter-title, .dribbble-widget-title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-top: 105px;
  margin-bottom: 20px;
}

.dribbble-widget-title {
  margin-bottom: 25px;
}

.footer-recent-posts {
  width: 270px;
}

.footer-recent-posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-recent-post:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 2px solid #252525;
}

.footer-recent-post a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-recent-post a:hover .recent-posts-text, .footer-recent-post a:focus .recent-posts-text, .footer-recent-post a:active .recent-posts-text {
  color: #c7b299;
}

.footer-recent-post a:hover .recent-post-datetime, .footer-recent-post a:focus .recent-post-datetime, .footer-recent-post a:active .recent-post-datetime {
  color: #ffffff;
}

.recent-post-datetime {
  font-size: 12px;
  line-height: 20px;
  color: #363636;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.recent-posts-text {
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  margin: 0;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.our-twitter {
  width: 270px;
}

.our-twitter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.our-twitter-item:not(:last-child) {
  margin-bottom: 19px;
  padding-bottom: 15.5px;
  border-bottom: 2px solid #252525;
}

.our-twitter-item a {
  display: block;
}

.our-twitter-text {
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  margin: 0;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.our-twitter-item a:hover .our-twitter-text, .our-twitter-item a:focus .our-twitter-text, .our-twitter-item a:active .our-twitter-text {
  color: #c7b299;
}

.twitter-profile {
  color: #00bff3;
}

.twitter-hashtag {
  color: #00bff3;
}

.twitter-link {
  color: #959595;
}

.our-twitter-timeago {
  font-size: 12px;
  line-height: 20px;
  color: #363636;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.our-twitter-item a:hover .our-twitter-timeago, .our-twitter-item a:focus .our-twitter-timeago, .our-twitter-item a:active .our-twitter-timeago {
  color: #ffffff;
}

.dribbble-widget {
  width: 270px;
}

.dribbble-widget-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dribbble-widget-item {
  width: 130px;
  height: 98px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.dribbble-widget-item:nth-child(2n) {
  margin-right: 0px;
}

.dribbble-widget-preview {
  display: block;
  width: 130px;
  height: 98px;
  background-color: #555556;
}

.dribbble-widget-preview img {
  width: 130px;
  height: 98px;
}

.footer-copyright {
  width: 100%;
  min-height: 110px;
  background-color: #111111;
}

.footer-copyright .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright-left, .footer-copyright-right {
  font-size: 13px;
  line-height: 20px;
  color: #555555;
  list-style: none;
  margin: 0;
  margin-top: 45px;
  padding: 0;
}

.footer-copyright-left {
  width: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-copyright-right {
  width: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
}

.footer-copyright-left .footer-copyright-item:not(:last-child), .footer-copyright-right .footer-copyright-item:not(:last-child) {
  position: relative;
  margin-right: 25px;
}

.footer-copyright-left .footer-copyright-item:not(:last-child)::after {
  position: absolute;
  content: "|";
  right: -15px;
  top: 0px;
}

.footer-copyright-right .footer-copyright-item:not(:last-child)::after {
  position: absolute;
  content: "|";
  right: -15px;
  top: 0px;
}

.footer-copyright-item a {
  color: #555555;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.footer-copyright-item .waxom-link, .footer-copyright-item .designer-link, .footer-copyright-item .only-on-link {
  color: #959595;
}

.footer-copyright-item a:hover, .footer-copyright-item a:focus, .footer-copyright-item a:active {
  color: #c7b299;
}

@font-face {
  font-family: "Montserrat-UltraLight";
  src: url("../fonts/Montserrat-UltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}